<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/login_style.css" type="text/css">
</head>
<body>
    <h2></h2>
    <form method="post" action="/login">
        <fieldset>
            <legend>Login Information</legend>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Login">
        </fieldset>
    </form>
</body>
</html>